<body style="background-color: whitesmoke;">
    <div class="login-container">
		<section class="login" id="registration">
			<header>
				<h2 style="margin-left:90px;">Registration</h2>
			</header>
			<form class="login-form" (ngSubmit)="onSubmit()">
                <input type="text" class="login-input" [(ngModel)]="user.firstName" placeholder="Firstname" [ngModelOptions]="{standalone: true}" required autofocus/>
                <input type="text" class="login-input" [(ngModel)]="user.lastName" placeholder="Lastname" [ngModelOptions]="{standalone: true}" required autofocus/>
				<input type="text" class="login-input" [(ngModel)]="user.username" placeholder="Username" [ngModelOptions]="{standalone: true}" required autofocus/>
				<input type="password" class="login-input" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="Password" required autofocus/>
                <input type="password" class="login-input" [(ngModel)]="user.password1" [ngModelOptions]="{standalone: true}" placeholder="Re-enter password" required autofocus/>
                <label style="color:red" *ngIf="passwordCheck">{{inputError}}</label><br><br>
                <button class="login-button">Sign up</button>
			</form>
		</section>
	</div>
</body>