<body style="background-color: whitesmoke;">
    <div style="height:100%; width: 80px; background-color: midnightblue; position: fixed; padding-left: 10px;">
        <button (click)="redirectHome()" style="border: none; background-color: transparent;"><img src="/assets/home.png" style="width: 50px; height: 50px; margin-top:50px;"></button>
        <button (click)="signout()" style="border: none; background-color: transparent;"><img src="/assets/off.png" style="width: 40px; height: 40px; margin-top:50px;"></button>
    </div>
    <button style="margin-top: 20px; margin-left: 650px; border:none; background-color: transparent; color:blue; font-size: larger; font-weight: bold;">Finished</button>
    <button style="background-color: transparent; border:none; color:blue; font-size: larger; font-weight: bold;">Future</button>
</body>