<body style="background-color: whitesmoke;">
    <div class="login-container">
		<section class="login" id="login">
			<header>
				<h2 style="margin-left:120px;">Login</h2>
			</header>
			<form class="login-form" (ngSubmit)="onSubmit()">
				<input type="text" class="login-input" [(ngModel)]="form.username" placeholder="Username" [ngModelOptions]="{standalone: true}" required autofocus/>
				<input type="password" class="login-input" [(ngModel)]="form.password" [ngModelOptions]="{standalone: true}" placeholder="Password" required autofocus/>
                <button class="login-button">Sign in</button>
			</form>
            <label style="font-size: medium; margin-left: 10%;">Don't have an account?<button (click)="goToRegistration()" class="registration-button">Register now!</button></label>
		</section>
	</div>
</body>