<body style="background-color: whitesmoke;">
  <button style="margin-left: 20px; margin-top: 20px; position: fixed;" class="button-reject" (click)="signout()">Sign out</button>
  <div style="background-color: darkblue; width: 300px; height: 280px; margin-left:300px; margin-top: 30px;">
    <img style="width: 300px; height: 240px;" src="/assets/medical1.png">
    <button style="margin-left: 35%; margin-top: -5px;" class="button-accept"
      (click)="showTermReserveForm()">Reserve</button>
  </div>
  <div style="background-color: darkblue; width: 300px; height: 280px; margin-left:300px; margin-top: 20px;">
    <img style="width: 300px; height: 240px;" src="/assets/terms.png">
    <button style="margin-left: 35%; margin-top: -5px;" (click)="showTerms()" class="button-accept">Show terms</button>
  </div>
  <div
    style="background-color:darkblue; position: fixed; width: 370px; height: 580px; margin-left:620px; margin-top: -580px;">
    <div *ngIf="flag1"
      style="margin-left: 20px; margin-top: 20px; background-color: aliceblue; width: 330px; height: 540px;">
      <br>
      <label class="input-text" style="margin-left: 10px;">Start date:</label><br>
      <input type="text" [(ngModel)]="termRequest.startDate" placeholder="Date format: YYYY-MM-DD hh-mm"
        style="width:300px; margin-left: 10px;"><br><br>
      <label class="input-text" style="margin-left: 10px;">End date:</label><br>
      <input type="text" [(ngModel)]="termRequest.endDate" placeholder="Date format: YYYY-MM-DD hh-mm"
        style="width:300px; margin-left: 10px;"><br><br>

      <table class="table" style="margin-left: 10px; height: 200px; display: block; overflow: auto;">
        <tr class="table-header">
          <th class="header__item">Doctor</th>
          <th class="header__item">Specialization</th>
          <th class="header__item">Select</th>
        </tr>
        <tr *ngFor="let doctor of nonSpecialist" class="table-row">
          <td class="table-data">{{doctor.FirstName}} {{doctor.LastName}}</td>
          <td class="table-data">{{doctor.Specialization}}</td>
          <td><button class="button-accept" (click)="changeDoctor(doctor)">Select</button></td>
        </tr>
      </table>
      <br>
      <label class="input-text" style="margin-left: 10px;">Doctor priority:</label>
      <input type="checkbox" [(ngModel)]="doctorPriority">
      <br>
      <label class="input-text" style="margin-left: 10px;">Selected doctor: {{selectedDoctor.FirstName}}
        {{selectedDoctor.LastName}}</label>
      <br>
      <br>
      <label style="color:red; margin-left: 70px;" *ngIf="isFailed"> {{errorMessage}}</label>
      <br>
      <br>
      <button style="margin-left: 60px;" class="button-accept" (click)="reserveTerm()">Reserve</button>
      <button class="button-reject" style="margin-left: 15px;" (click)="cancel()">Cancel</button>
    </div>

    <div *ngIf="flag2"
      style="margin-left: 20px; margin-top: 20px; background-color: aliceblue; width: 330px; height: 540px;">
      <br>
      <table class="table" style="margin-left: 10px; height: 200px; display: block; overflow: auto;">
        <tr class="table-header">
          <th class="header__item">Date</th>
          <th class="header__item">Doctor</th>
          <th class="header__item">Select</th>
        </tr>
        <tr *ngFor="let term of terms" class="table-row">
          <td class="table-data">{{term.DateTimeTerm}}</td>
          <td class="table-data">{{term.TermDoctor?.FirstName}} {{term.TermDoctor?.LastName}}</td>
          <td><button class="button-accept" (click)="selectTerm(term)">Select</button></td>
        </tr>
      </table>
      <br>
      <label class="input-text" style="margin-left: 10px;">Selected term: {{selectedTerm.DateTimeTerm}}</label>
      <br>
      <label style="color:red; margin-left: 70px;" *ngIf="isFailed"> {{errorMessage}}</label>
      <br>
      <br>
      <button style="margin-left: 60px;" class="button-accept" (click)="createTerm()">Reserve</button>
      <button class="button-reject" style="margin-left: 15px;" (click)="cancelReservation()">Cancel</button>
    </div>

    <div *ngIf="flag3"
      style="margin-left: 20px; margin-top: 20px; background-color: aliceblue; width: 330px; height: 540px;">
      <br>
      <table class="table" style="margin-left: 10px; height: 200px; display: block; overflow: auto;">
        <tr class="table-header">
          <th class="header__item">Date</th>
          <th class="header__item">Doctor</th>
          <th class="header__item">Select</th>
        </tr>
        <tr *ngFor="let term of patientTerms" class="table-row">
          <td class="table-data">{{term.DateTimeTerm}}</td>
          <td class="table-data">{{term.TermDoctor?.FirstName}} {{term.TermDoctor?.LastName}}</td>
          <td><button class="button-accept" (click)="selectTermForReject(term)">Select</button></td>
        </tr>
      </table>
      <br>
      <label class="input-text" style="margin-left: 10px;">Selected term: {{selectedTermForReject.DateTimeTerm}}</label>
      <br>
      <label style="color:red; margin-left: 70px;" *ngIf="isFailed"> {{errorMessage}}</label>
      <br>
      <br>
      <button style="margin-left: 60px;" class="button-accept" (click)="rejectTerm(selectedTermForReject.Id)">Reject</button>
      <button class="button-reject" style="margin-left: 15px;" (click)="cancel()">Cancel</button>
    </div>
  </div>
</body>